<%=form_for @parent do |p| %>
  <div class="">
    <p>
      <%=p.label :name%>
      <%=p.text_field :name %>
    </p>
    <p>
      <%=p.label :cpf%>
      <%=p.text_field :cpf%>
    </p>
    <p>
      <%=p.label :address%>
      <%=p.text_field :address%>
    </p>
    <p>
      <%=p.label :password%>
      <%=p.password_field :password%>
    </p>
    <p>
      <%=p.submit%>
    </p>
  </div>
<%end%>
